.Stepper_course_wrapper__mUXbq {
  width: 57%;
  margin: auto;
}

.Stepper_payment_type_wrapper__616PP {
  width: 41%;
  border: 1px solid #e9e9e9;
  box-shadow: 4px 11px 58px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  height: -moz-fit-content;
  height: fit-content;
}

.Stepper_payment_type_container__wF35W {
  padding: 1.5rem;
}

.Stepper_payment_type_container__wF35W h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #050400;
}

.Stepper_total__pACMZ {
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Stepper_total__pACMZ h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  color: #373633;
}

.Stepper_total__pACMZ h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #050400;
}

.Stepper_action__Op_RD {
  padding: 8px 16px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Stepper_secure_pay__UvxuF {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #9b9b99;
  margin-top: 12px;
}
.mb_1 {
  margin-bottom: 1rem;
}
.gap_1 {
  gap: 1rem;
}
.flex {
  display: flex;
  align-items: center;
}
.gap_2 {
  gap: 2rem;
}
.flex {
  display: flex;
  align-items: center;
}
.Stepper_course_card__k_ctd {
  background: #fff;
  border: 1px solid #e9e9e9;
  box-shadow: 4px 11px 58px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 24px;
}

.Stepper_tag_header__Pigzd {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #696866;
}

.Stepper_tag_content__vlIpv {
  font-weight: 500;
  font-size: 15px;
  line-height: 137.1%;
  color: #373633;
}

.Stepper_payment_container__uQuwg h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #050400;
}
.mb_0_5 {
  margin-bottom: 8px;
}
.justify_between {
  justify-content: space-between !important;
}
.Stepper_cart_container__msZw0 {
  padding: 8px 16px;
}

.Stepper_cart_container__msZw0 h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #050400;
  margin-bottom: 8px;
}

.Stepper_cart_container__msZw0 p {
  font-weight: 500;
  font-size: 17px;
  line-height: 137.1%;
  color: #0f0f0e;
}

.Stepper_icon_container__JM_OW {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffe5e5;
}

.Stepper_purchase_btn__d1nP_ {
  margin-top: 2em;
  margin-bottom: 2em;
  float: right;
}

.Stepper_support__upspP {
  font-weight: 400;
  font-size: 16px;
  line-height: 154.3%;
  color: #696866;
}

.Stepper_support__upspP a {
  color: #373633;
  font-weight: 600;
}

.Stepper_Stepper__info__zqvjO {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stepper_description__ahrqP {
  max-width: 540px;
}

@media (max-width: 768px) {
  .Stepper_paymentCards_wrapper__sh6kp,
  .Stepper_payment_wrapper__KPUU6 {
    flex-direction: column;
  }

  .Stepper_course_wrapper__mUXbq {
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
  }

  .Stepper_payment_type_wrapper__616PP {
    width: 100%;
    order: 1;
    border: none;
    box-shadow: none;
  }

  .Stepper_payment_type_container__wF35W {
    padding: 0.5rem;
  }

  .Stepper_course_wrapper__mUXbq .Stepper_course_card__k_ctd {
    order: 2;
  }

  .Stepper_course_wrapper__mUXbq .Stepper_support_container__gfI41 {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .Stepper_courseCard__0MWt9 {
    flex: 1 1;
  }

  .Stepper_purchase_action__MWlxG {
    padding-top: 1rem;

    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #fff;
    box-shadow: -4px -11px 58px rgba(0, 0, 0, 0.07);
  }
}
